.Container {
    display: flex;
    padding: 8px 48px;
    background: lightgray;
    justify-content: space-between;

    .Catalog {
        display: flex;
        align-items: center;
        padding: 8px;
        background-color: blue;
        color: white;
        font-size: 1rem;
        border-radius: 8px;
        cursor: pointer;

        .Icon {
            width: 24px;
            height: 24px;
            margin-right: 8px;

            & path {
                fill: white;
            }
        }

        &:hover {
            background-color: lightblue;
        }
    }

    .Search {
        width: 50%;
        border-width: 1px;
        border-style: solid;
        border-color: black;
        margin-left: 16px;
        display:flex;
        justify-content: space-between;

        .SearchButton {
            display: flex;
            align-items: center;
            cursor: pointer;
            padding: 0 8px;
            background-color: aqua;

            .Icon {
                width: 24px;
                height: 24px;
            }
        }



        .Input {
            width: 100%;
            outline: none;
            font-size: 1rem;
            border: none;

            &:hover {
                background-color: lightgrey;
            }
        }
    }

    .User {
        margin-left: 16px;
        display: flex;

        .AuthorizationContainer {
            display: flex;
            align-items: center;
            font-size: 1rem;
            color: blue;

            .Login {
                margin-right: 16px;
            }
            .Button {
                cursor: pointer;
                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .UserInfo {
            display: flex;
            align-items: center;
            font-size: 1rem;
            color: green;

            .Cart {
                margin-right: 8px;
            }
        }
    }
}